{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Liste des activités </h1>

    <div class="container">


    <a class="btn btn-primary" href="{{ path('app_activity_new') }}">Créer une nouvelle activité</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom de l'activité</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.description |raw }}</td>
                <td>
                    <span>
                        <a class="btn btn-dark" href="{{ path('app_activity_show', {'id': activity.id}) }}">Voir</a>
                        <p></p>
                        <a class="btn btn-dark" href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>
                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune activité trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
